// Color Palette
// 022C43
// 053F5E
// 115173
// FFD700

html {
	background-color: #022C43;
}

body, pre, code {
	background-color: #022C43;
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.1vw;
}

pre, code {
	background-color: #115173;
	border-radius: 3px;
	padding: 0 3px;
}

