// Color Palette
// 022C43
// 053F5E
// 115173
// FFD700

html {
	background-color: #022C43;
}

body, pre, code {
	background-color: #022C43;
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.3vw;
	line-height: 200%;
	text-align: justify;
}

header, article, footer {
	padding-right: 4vw;
	padding-left: 5vw;
}

pre, code {
	background-color: #053F5E;
	border-radius: 9px;
	line-height: 160%;
	padding: .5vh .5vw;
}

pre {
	font-size: 100%;
}

a {
	color: white;
	text-decoration: none;
	font-size: 110%;
}

a:hover {
	color: #FFD700;
}

h1, h2, h3, h4, h5, h6 {
	color: #FFD700;
	line-height: 100%;
}

h6 {
	margin-bottom: 1vh;
}

hr {
	color: #FFd700;
	background-color: #FFD700;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.dark-text {
	color: #115173;
}

.social {
	font-size: 80%;
}
